<div class="primary-screen">
  <div class="main">
    <div class="title">
      <img class="avatar" src="<%- url_for(theme.avatar) %>">
      <p><%= config.title %></p>
    </div>
    <ul>
      <% for(link in theme.links){ %>
      <li><a href="<%- url_for(theme.links[link]) %>"><%= link %></a></li>
      <% } %>
    </ul>
  </div>
  <div class="bar">
    <div></div>
    <div><i class="material-icons">expand_more</i></div>
    <div><a href="<%- url_for('/atom.xml') %>"><i class="material-icons">rss_feed</i></a></div>
  </div>
</div>

<div class="posts" data-aos="fade-up">
  <% let posts = site.posts.data;
     posts.sort(function(a,b){
       if(a.top == true){
         return -Infinity;
       }
       return b.date.unix() - a.date.unix();
     })
     for(post of posts){ %>
  <div class="post">
    <div class="title markdown-body"><a href="<%- url_for(post.path) %>"><%= post.title %></a></div>
    <div class="excerpt markdown-body"><%- post.excerpt %></div>
  </div>
  <% } %>
</div>

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init();
</script>
